* {
	font-size: 10px;
	font-family: 'Courier New';
}

hr {
	border-style: none;
	border-top: 0.5px dashed black;
}

td,
th,
tr,
table {
	border-collapse: collapse;
	vertical-align: bottom;
}

td.description,
th.description {
	width: 100px;
	max-width: 100px;
}

td.price,
th.price {
	width: 55px;
	max-width: 55px;
	word-break: break-all;
	text-align: right;
}

.centered {
	text-align: center;
	align-content: center;
	margin-top: 1rem;
}

.ticket {
	width: 155px;
	max-width: 155px;
}

img {
	max-width: inherit;
	width: inherit;
}

@media print {

	.hidden-print,
	.hidden-print * {
		display: none !important;
	}

	@page {
		margin: 0mm;
		size: auto;
	}

	body {
		background-color: #FFFFFF;
		margin: 0;
		padding: 0;
	}
}
