.custom-select-sm {
	font-size: 100% !important;
	padding-top: .2rem;
	padding-left: 0.5rem;
	text-align: center;
}

.form-control {
	padding-left: 0.5rem;
}

div.dataTables_wrapper div.dataTables_length select {
	width: 35%;
}

.box {
	width: 800px;
	margin: 0 auto;
}

.active_tab1 {
	background-color: #fff;
	color: #333;
	font-weight: 600;
}

.inactive_tab1 {
	background-color: #f5f5f5;
	color: #333;
	cursor: not-allowed;
}

.has-error {
	border-color: #cc0000;
	background-color: #ffff99;
}

.table.dataTable {
	font-size: 15px;
}

#total_data {
	margin-bottom: 0rem !important;
	font-weight: 400;
	font-size: 16px;
	color: rgba(75, 192, 192, 1);
}

.canvas_kunjungan {
	width: 100% !important;
	height: 320px !important;
}

.canvas_omzet {
	width: 100% !important;
	height: 320px !important;
}

.canvas_tindakan {
	width: 100% !important;
	height: 920px !important;
}

.canvas_stok_obat {
	width: 100% !important;
	height: 330px !important;
}

.canvas_pasien_jk {
	display: block;
	height: 200px !important;
	width: 100% !important;
}

.canvas_pasien_umur {
	display: block;
	height: 320px !important;
	width: 100% !important;
}

.canvas_metode_pembayaran {
	display: block;
	/* height: 125px !important; */
	width: 100% !important;
}

@media only screen and (max-width: 800px) {
	.chart-pie {
		height: 10rem !important;
	}

	.canvas_kunjungan {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.canvas_omzet {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.canvas_pasien_umur {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.canvas_pasien_jk {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.canvas_tindakan {
		display: none;
	}

	#card_tindakan {
		display: none;
	}

	.canvas_stok_obat {
		display: block;
		height: 130px !important;
		width: 100% !important;
	}

	.canvas_riwayat_penyakit {
		display: block;
		height: 10rem !important;
		width: 100% !important;
	}

	.canvas_alergi_obat {
		display: block;
		height: 10rem !important;
		width: 100% !important;
	}
}

.select2-container .select2-selection--single {
	height: calc(1.8125rem + 2px) !important;
	border: 1px solid #ced4da !important;
	border-radius: 0.2rem !important;
	width: 100% !important;
}

#btn_rekam_medis {
	margin-top: 20px !important;
}

#previous_btn_tindakan {
	margin-top: 20px !important;
}

#btn_detail_tindakan {
	margin-top: 20px !important;
}

#previous_btn_obat {
	margin-top: 20px !important;
}

#btn_detail_obat {
	margin-top: 20px !important;
}
